
/* FONTS */

/* pour les textes */
@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Architects+Daughter&subset=latin-ext);


body, html {
    height: 100%;
    width: 100%;
}

.diaporama {
    position: relative;
    height: 100%;
    width: 100%;    
}

.diaporama-next, .diaporama-prev {
    position: absolute;
    top: 50%;
    
}

.diaporama-next {
    right: 20px;
}

.diaporama-prev {
    left: 20px;
}

.diaporama-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.diaporama-nav li {
    display: inline-block;
}
