
/* FONTS */

/* pour les textes */
@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Lobster&subset=latin-ext);


/* GENERAL */

*, *:before, *:after {
    box-sizing: border-box;  /* http://css-tricks.com/box-sizing/ */
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover, a:active {
    text-decoration: none;
    color: red;
}

.clearfix:before, .clearfix:after {
    content: " "; 
    display: table;
}
.clearfix:after {
    clear: both;
}



/* HEADER */
.main-header {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background: none repeat scroll 0 0 #fff;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.main-header__inner {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 20px;
    padding: 1.25rem;
}

.main-header h1 {
    float: left;
    font-size: 26px;
    font-size: 1.625rem;
}

.main-header h1 span {
    color: #c02126;
    font-size: 32px;
    font-size: 2rem;
}

.main-header nav {
    display: block;
    float: right;
}

.main-header ul {
    position: relative;
    font-size: 14px;
    font-size: .875rem;
}

.main-header li {
    position: relative;
    float: left;
}

.main-header li a {
    display: inline-block;
    padding: 15px;
    padding: .9375rem;
}

.main-header li li {
    float: none;
}

.main-header li ul {
    display: none;
    position: absolute;
    top: 44px;  /* 15px + 14px + 15px */
    border: 1px solid #eee;
    border-top: 0;
    background-color: #fff;
    width: 120%;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.main-header li:hover ul {
    display: block; 
}


/* MAIN */

.contents {
    width: 960px;
    margin: 84px auto 0; /* 20px + 15px + 14px + 15px + 20px */
    padding: 50px 20px;
    padding: 3.125rem 1.25rem;
}

.contents article {
    float: left;
    width: 300px;
    padding: 20px 10px;
    font-size: 14px;
    font-size: .875rem;
    line-height: 20px;
    line-height: 1.25rem;
}

.main-content {
    float: left;
    width: 600px;
}


.main-content h2 {
    text-transform: uppercase;
    color: #c02126;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
}

.main-content .main-article {
    width: 600px;
}

.main-content .main-article h2 {
    font-size: 1.375rem;
}



/* ASIDE */

.main-aside {
    float: right;
    width: 300px;
}

.main-aside article {
    font-size: 12px;
    font-size: .75rem;
    line-height: 20px;
    line-height: 1.25rem;
}

.main-aside h3 {
    font-size: 16px;
    font-size: 1rem;
    line-height: 28px;
    line-height: 1.75rem;
    color: #c02126;
}


/* FOOTER */

.main-footer {
    background: url("../img/tile-footer.png") repeat-x 50% 0 transparent;
}

.main-footer__inner {
    width: 960px;
    margin: 0 auto;
    padding: 50px 10px;
}

.social {
    text-align: center;
    padding: 10px 30px 50px;
}

.social li {
    display: inline-block;
    padding: 0 20px;
}

.social a {
    display: block;
    font-size: 14px;
    font-size: .875rem;
    height: 36px;
    height: 2.25rem;
    line-height: 36px;
    line-height: 2.25rem;
    padding: 0 10px;
    padding: 0 .625rem;
    border-radius: 18px;
    border-radius: 1.125rem;
    border: 1px dashed #c02126;
    text-align: center;
    text-transform: uppercase;
    background-color: #fff;
}

.social a, .social a:visited {
    color: #000;
}
.social a:hover, .social a:active {
    color: #c02126;
}

.copyright {
    font-size: 10px;
    font-size: .625rem;
    text-align: center;
}
























