
.main-content {
    padding-top: 54px;  /* hauteur du header */
}

h2 {
    position: relative;
    font-size: 34px;
    font-weight: bold;
    line-height: 54px;
}

.subtitle {
    position: relative;
    font-size: 18px;
    line-height: 24px;
}



/* CONTENT INTRO */

.content-intro {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #22262c;
    padding: 100px 0 200px ;
}

.content-intro h2 {
    padding-bottom: 35px;
    font-size: 42px;
}

.content-intro p {
	font-size: 21px;
    padding-bottom: 50px;
	color: #ccc;
}

.intro-deco {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    height: 195px;
    background: url("../img/films.png") 50% 50% no-repeat transparent;
}

/* fin CONTENT INTRO */






/* CONTENT ACTIONS */

.content-actions {
    padding: 70px 0;
    overflow: hidden;
}

.action {
    float: left;
    width: 33%;
    padding: 0 30px;
    text-align: center;
}
@media all and (max-width:550px) {
    .action {
        float: none;
        width: 100%;
        padding-bottom: 60px;
    }
}

.action-icon {
    display: block;
    margin: 0 auto 25px auto;
    height: 45px;
}

.action-icon-discover {
    background: url("../img/decouvrez.png") 50% 0 no-repeat transparent;
}

.action-icon-rate {
    background: url("../img/notez.png") 50% 0 no-repeat transparent;
}

.action-icon-share {
    background: url("../img/partagez.png") 50% 0 no-repeat transparent;
}

.action-title {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.action-description {
    font-size: 14px;
    line-height: 16px;
    margin-top: 14px;
    color: #666;
}

/* fin CONTENT ACTIONS */






/* CONTENT QUOTES */

.content-quotes {
    position: relative;
    background: url("../img/blockquote.png") no-repeat 50% 50px #f5f5f5;
    height: 270px;
    padding: 50px 0;
}

.diaporama-quotes {
    position: absolute;
    height: 150px;
    width: 97%;
    overflow: hidden;
}

.diaporama-quotes  li {
    position: absolute;
    height: 100%;
    max-width: 100%;    
    top: 0;
    left: 0;
    padding-right: 100px;
    padding-top: 30px;
}

.quote-avatar {
    float: left;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff;
    margin: 5px 50px;
}

.quote-blockquote {
    font-size: 16px;
    margin: 16px 40px;
    line-height: 22px;
    overflow: hidden;
}

.quotes-name {
    font-weight: bold;
    margin-bottom: 25px;
}

/* CONTENT QUOTES : Navigation */

.diaporama-next, .diaporama-prev {
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -2.5em;
    height: 5em;
    width: 5em;
    color: #74d336;
}

.diaporama-next:hover, .diaporama-prev:hover {
    color: #68c42b;
}

.diaporama-next {
    right: 20px;
}

.diaporama-prev {
    left: 20px;
}

.diaporama-nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
}

.diaporama-nav li {
    display: inline-block;
}


@media all and (max-width:550px) {


    .content-quotes {
        height: auto;
    }

    .diaporama-quotes {
        position: relative;
        height: auto;
        width: 97%;
        overflow: hidden;
    }

    .diaporama-quotes  li {
        position: relative;
        height: auto;
        max-width: 100%;    
        top: auto;
        left: 0 !important;
        padding-right: 0;
        padding-top: 50px;
        text-align: center;
    }

    .quote-avatar {
        float: none;
    }

    .quote-blockquote {
        float: none;
    }

    .diaporama-next, .diaporama-prev {
        display: none;
    }

}

/* fin CONTENT QUOTES */






/* CONTENT FRIENDS */

.content-friends {
    line-height: 24px;
    border-top: 1px solid #eee;
    padding: 50px 0;
    background-color: #fbfbfb;
    overflow: hidden;
}

.content-friends-left {
    float: left;
    width: 50%;
}

.content-friends p {
    margin: 18px 0;
}

.content-friends-right {
    float: right;
    width: 40%;
}

.content-friends-right img {
    width: 100%;
    height: auto;
}

@media all and (max-width:550px) {
    
    .content-friends-left, .content-friends-right {
        float: none;
        width: 100%;
        text-align: center;
    }

    .content-friends-right img {
        width: 60%;
        height: auto;
    }
}

/* fin CONTENT FRIENDS */






/* CONTENT SONDAGE */

.content-sondage {
    padding: 80px 0;
    text-align: center;
}

.content-sondage .subtitle {
    margin-bottom: 50px;
}

.sondages {
    overflow: hidden;
}

.sondage {
    float: left;
    height: 230px;
    width: 50%;
    padding-right: 15px;
}

@media all and (max-width:550px) {
    .sondage {
        float: none;
        width: 100%;
        height: auto;
        padding-right: 0;
        margin-bottom: 15px;
    }
}

.sondage article {
    position: relative;
    max-width: 465px;
    height: 100%;
    background-color: #fff;
}

@media all and (max-width:550px) {
    .sondage article {
        max-width: 100%;
    }
}

.content-sondage img {
    border-bottom: 3px solid #31ace0;
    width: 100%;
    height: auto;
}

.sondage-title {
    font-size: 22px;
    line-height: 26px;
    padding: 30px 15px 0;
    font-weight: bold;
    color: #333;
}

.sondage-description {
    padding: 0 15px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
    color: #666;
}


/* fin CONTENT SONDAGE */




/* CONTENT SEPARATEURS */

.content-separteur {
    height: 200px;
    background-size: cover;
}

.content-separteur1 {
    background: url(../img/separateur-books.jpg) 50% 50% no-repeat #000;
}

.content-separteur2 {
    background: url(../img/separateur-space.jpg) 50% 50% no-repeat #000;
}


/* fin CONTENT SEPARATEURS */




